# -- Usage -- 
# $ pip install -r requirements.txt

# -- Show each installed package(s) --
# $ pip freeze

# -- Uninstall all package(s) --
# $ pip freeze | xargs pip uninstall -y

aiomysql == 0.0.22
requests == 2.27.1

tzlocal == 4.2

matplotlib == 3.5.1
Pillow == 9.1.0

PyNaCl

#Require this specific version (internal package error, issue #299 of github.com/ssut/py-googletrans)
googletrans == 4.0.0-rc1

#discordpy master branch commit 277d35c9b22fc5b2c2e1b640305341ea7f524cc1
git+https://github.com/Rapptz/discord.py@277d35c9b22fc5b2c2e1b640305341ea7f524cc1
