# -- Usage -- 
# $ pip install -r requirements.txt

# -- Show each installed package(s) --
# $ pip freeze

# -- Uninstall all package(s) --
# $ pip freeze | xargs pip uninstall -y

aiomysql == 0.1.1
requests == 2.27.1

tzlocal == 4.2

matplotlib == 3.5.2
Pillow == 9.1.0

PyNaCl

#Require this specific version (internal package error, issue #299 of github.com/ssut/py-googletrans)
googletrans == 4.0.0-rc1

#discordpy master branch commit 14e83dff0e46a4e30f7d2fb25c1527e631f973af
git+https://github.com/Rapptz/discord.py@14e83dff0e46a4e30f7d2fb25c1527e631f973af
